.tweets {
    margin: 1em 2em;
}

.tweet {
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    margin: 1em 0em;
}

.tweet-header {
    border-radius: 5px;
    background-color: #eeeeee;
    display: flex;
}

.tweets .avatar {
    height: 50px;
    width:50px;
    margin: 8px;
    border-radius:5px;
}

.tweets .name{
    font-weight: bold;
    font-size: 25px;
    flex: 1;
    padding: 5px 5px;
}

.tweets .handle {
    padding: 5px 5px;
    float: right;
}

.tweets .content {
    padding: 30px 5px;
    height: 80px;
    clear: both;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
}

.tweets .datestamp{
    padding: 5px 5px;
    font-size: 15px;
    height: 30px;
    bottom: 0;   
}

.connect{
    float: right;
    opacity: 0;
}

.connect img{
    height: 35px;
    width: 35px;
}

.tweet:hover{
opacity: 0.8
}

.tweet:hover .connect{
    opacity: 1;
}
